@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.error-admin{
    position: absolute;
    margin: 0 auto;
    top: 5vh;
    right: 5vw;
}

@import 'header';
@import 'admin';
@import 'home';
@import 'all-products';
@import '404';
